.About {
    min-height: 100vh;
    width: 80vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.aboutText {
    flex: 3;
}

.aboutText p {
    margin-bottom: 10px;
}

.About h2 {
    display: flex;
    justify-content: center;
    flex: 1;
}

.skillsSection {
    display: flex;
    flex-direction: row;
}

.skillsSection ul {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillsSection ul li {
    background: #e4e4ea;
    list-style: none;
    font-size: 1.2em;
    margin: 0 14px 14px 0;
    padding: 5px 10px;
}


@media (max-width: 1024px) {
    .aboutSection {
        flex-direction: column;
    }

    .skillsSection {
        flex-direction: column;
    }

    .skillsSection ul {
        justify-content: center;
    }

    .About h2 {
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
/*small font*/
}