.About {
    min-height: 80vh;
    width: 80vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.aboutSection h2 {
    color: #E9BC3F;
}

.aboutText {
    flex: 5;
}

.aboutText p {
    font-size: 12pt;
    letter-spacing: -1px;
    color: #CACACC;
    margin-bottom: 10px;
}

.About h2 {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 50px;
}

.skillsSection {
    display: flex;
    flex-direction: row;
}

.skillsSection h2 {
    color: #f44336;
}

.skillsSection ul {
    flex: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillsSection ul li {
    list-style: none;
    font-size: 1em;
    margin: 0 14px 14px 0;
    padding: 5px 10px;
    color: #CACACC;
    background: #393e46;
    /*border: 1px solid #191a1f;*/
    /*box-shadow: 3px 4px 0px #121317;*/
}

.coloredText {
    color: #E9BC3F;
}

.floatingAnchor {
    position: relative;
    bottom: 20vh;
}


@media (max-width: 1024px) {
    .aboutSection {
        flex-direction: column;
    }

    .skillsSection {
        flex-direction: column;
    }

    .skillsSection ul {
        justify-content: center;
    }

    .About h2 {
        margin-bottom: 15px;
        margin-right: 0;
        justify-content: center;
    }
}

@media (max-width: 600px) {
/*small font*/
}