.Project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: lightgray;
    /*flex: 0 1 40%;*/
}

.Project img {
    width: 100%;
    height: auto;
    flex: 1;
}

.Project ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.Project h2 {
    margin-top: 5px;
}

.Project ul li {
    margin: 3px 3px 3px 0;
    /*font-family: monospace;*/
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
}

.Project i {
    font-size: 1.5em;
}

.projectContent {
    padding: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.projectLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.projectLinks a {
    margin-left: 10px;
}

.Project p {
    margin: 5px 0;
    flex: 1;
}