.Project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: rgb(47, 49, 59);
    border-radius: 3px;
    overflow: hidden;
}

.Project img {
    width: 100%;
    height: auto;
    flex: 1;
}

.Project ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.Project h2 {
    margin-top: 5px;
    color: #E9BC3F;
}

.Project ul li {
    margin: 5px 8px 5px 0;
    /*font-family: monospace;*/
    font-size: .75rem;
    font-weight: 700;
    padding: 3px 5px 3px 5px;
    color: #3844ef;
    border: 1px solid #3844ef;
    border-radius: 2px;
}

.Project i {
    font-size: 1.5em;
}

.projectContent {
    padding: 10px;
    /*min-height: 175px;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex: 2;
}

.projectLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.projectLinks a {
    margin-left: 10px;
}

.Project p {
    margin: 5px 0;
    flex: 1;
    font-size: 14px;
    color: #CACACC;
}

.linkDisabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.2;
}