.Home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContent h1 {
    font-size: 32pt;
}

.homeContent h2 {
    margin-top: 10px;
    font-size: 20pt;
    color: #696A6F;
}


.profilePicWrapper {
    width: 175px;
    height: 175px;

    margin-bottom: 50px;
}

.profilePic {
    height: auto;
    border-radius: 50%;
    max-width:100%;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.socialLinks i {
    font-size: 24pt;
}

.socialLinks a {
    margin: 0 20px;
}

.navBar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 40px;
}

.navBar a {
    margin: 0 20px;
    color: #CACACC;
    text-decoration: none;
}

.navBar a:hover {
    color: #3844ef;
    transition: 0.2s;
}


@media (max-width: 1024px) {
    /*small font*/
    .Home h1 {
        font-size: 24pt;
    }

    .Home h2 {
        font-size: 16pt;
    }

    .Home i {
        font-size: 20px;
    }

    .profilePicWrapper {
        width: 125px;
        height: 125px;
    }

}

@media (max-width: 600px) {
    /*small font*/
    .Home h1 {
        font-size: 12pt;
    }

    .Home h2 {
        font-size: 8pt;
    }

    .Home i {
        font-size: 20px;
    }

    .navBar a {
        font-size: 10pt;
        margin: 10px;
    }

}