.Home i {
    font-size: 32pt;
    margin: 20px;
}

.Home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContent h1 {
    font-size: 4em;
}

.profilePicWrapper {
    width: 240px;
    height: 240px;

    margin-bottom: 50px;
}

.profilePic {
    height: auto;
    border-radius: 50%;
    max-width:100%;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.navBar {
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
}

.navBar a{
    margin: 10px;
}