.Contact {
    width: 80vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contactContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    text-align: center;
}

.contactContent h1 {
    margin-bottom: 50px;
}

.contactContent a {
    margin-top: 50px;
}