.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

h1 {
    font-size: 2em;
}

a {
    color: inherit;
}

h2 {
    font-size: 1.5em;
}