body {
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24252D;
}

p {
  line-height: 1.3;
}

h1, h2, p, a, li{
  color: #696A6F;
}

h1, h2, i, a {
  color: #CACACC;
}

.skillsSection ul li {
  background-color: #393e46;
}


i:hover {
  /*background-color: #f44336;*/
  /*opacity: 0.3;*/
  color: #3844ef;
  transition: 0.2s;
}


a:hover {
  /*background-color: #f44336;*/
  /*opacity: 0.3;*/
  color: #3844ef;
  transition: 0.2s;
}